<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <form method="POST" action="/create">
     <fieldset>
      <p><label>text</label><input type="text" name="text"></p>
     </fieldset>
     <input type="submit" value="Post">
    </form>
  </body>
</html>
